.logo {
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    color: midnightblue;

}

.switches {

    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin-right: 20px;
        color: rgba(5, 5, 45, 0.586);
        background: none;
        font-size: 20px;
        text-decoration: none;
        transition: color 0.3s ease, transform 0.3s ease;
        font-family: "Poppins", sans-serif;
    }

    a:hover {
        color: rgb(21, 21, 96);
        transform: scale(1.1);
        font-size: 20px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
    }
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px 15px 10px;
}

.aback {
    /* background: radial-gradient(circle, rgba(49, 60, 117, 0.4739145658263305) 0%, rgba(70, 92, 252, 1) 100%); */
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;    
    background: blue;
  
}

