/*  
.div { 
  border: 1px solid blue; 
} */ 
 
 
 
.btn1 { 
  background-color: lightgray; 
  border: none; 
  padding: 10px; 
  margin: 15px; 
  cursor: pointer; 
} 
 
.active { 
  background-color: lightskyblue; 
  color: rgb(32, 36, 100); 
  padding: 12px; 
  border-radius: 10px; 
  outline: none; 
} 
 
.cards { 
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: center; 
} 
 
.card1 { 
  border: 2px solid rgba(153, 159, 222, 0.473); 
  border-radius: 15px; 
  padding: 10px; 
  width: 200px; 
  height: 280px; 
  text-align: center; 
  cursor: pointer; 
  transition: 0.3s ease, transform 0.3s ease; 
} 
 
.card1:hover { 
  background-color: #a7acb97a; 
  transform: scale(1.05); 
} 
 
.card1 img { 
  max-width: 100%; 
  height: auto; 
} 

.menu { 
  margin-top: 50px; 
  margin-bottom: 50px; 
  display: flex; 
  justify-content: center; 
} 
 
.buttons { 
  button { 
     border: 1px solid black;
    border-radius: 16px; 
    background: #FFFFFF; 
    cursor: pointer; 
    transition: ease 0.3s ; 
  } 
 
  button:hover { 
    background: #13283e8a; 
    border: none; 
    color: aliceblue;
    /* background-color: #003fb5a1;  */ 
    transform: scale(1.05); 
    /* color: rgb(16, 14, 14); */ 
    /* outline: black; */ 
    /* background: lightblue; */ 
  } 
  } 
 
   
 
.card-menu { 
  display: flex; 
  flex-direction: column; 
  /* border: 1px solid lightskyblue; 
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  gap: 5px; */ 
} 
.open { 
  /* background-color: #1E90FF; */ 
  padding: 10px; 
} 
 
 
 
 
.button { 
  display: inline-block; 
  border-radius: 4px; 
  background-color: #1E90FF ; 
  border: none; 
  color: #FFFFFF; 
  text-align: center; 
  font-size: 16px; 
  padding: 8px; 
  width: 180px; 
  transition: all 0.5s; 
  cursor: pointer; 
  margin: 5px; 
} 
 
.button span { 
  cursor: pointer; 
  display: inline-block; 
  position: relative; 
  transition: 0.5s; 
} 
 
.button span:after { 
  content: '\00bb'; 
  position: absolute; 
  opacity: 0; 
  top: 0; 
  right: -20px; 
  transition: 0.5s; 
} 
 
.button:hover span { 
  padding-right: 25px; 
} 
 
.button:hover span:after { 
  opacity: 1; 
  right: 0; 
}
